.chess {
    -fx-background-image: url("chess.png");
    -fx-background-repeat: repeat;
    -fx-background-position: -4, -4;
}

.journal {
    -fx-font-family: "Consolas", monospace;
    -fx-background-color: #111111;
}

.info {
    -fx-fill: white;
}

.debug {
    -fx-fill: #a1a1a1;
}

.warn {
    -fx-fill: #ffff00;
}

.error {
    -fx-fill: #ff0000;
}

.rainbow .track {
    -fx-background-color: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

.grayscale .track {
    -fx-background-color: linear-gradient(to right, black, white);
}